#shortTaskMessage, #shortStepMessage{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    font-size: 12pt;
    padding:10px;
}

.myTasksWrapper, .singleTaskWrapper, .teamTasksWrapper, .singleTeamTask{
    padding: 10px;
    background: white;
    display: none;
}

.myTasksWrapper ul li, .teamTasksWrapper ul li{
    list-style: none;
}
.myTasksWrapper ul li h2:hover, .teamTasksWrapper ul li h2:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c41717;
}

.stepItem, .taskMember{
    margin-left: 30px;
}
.taskMembers{
    width: 100%;
    float: left;
}
.taskMember{
    float: left;
}